[submodule "bi-pos-warehouse-management"]
	path = bi-pos-warehouse-management
	url = git@github.com:xmarts/bi-pos-warehouse-management.git
[submodule "l10n-mx-pos-global-invoice"]
	path = l10n-mx-pos-global-invoice
	url = git@github.com:xmarts/l10n-mx-pos-global-invoice.git
[submodule "credit_limit_alert_update"]
	path = credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
[submodule "auto-payment-method"]
	path = auto-payment-method
	url = git@github.com:xmarts/auto-payment-method.git
[submodule "xmarts-custom-mariposa"]
	path = xmarts-custom-mariposa
	url = git@github.com:xmarts/xmarts-custom-mariposa.git
